name: maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17 
    - name: Compile Minecraft Spigot or Paper (BuildTools)
      # You may pin to the exact commit or the version.
      # uses: SpraxDev/Action-SpigotMC@1a29f401c76b9a36671680e789a559368bfda861
      uses: SpraxDev/Action-SpigotMC@v1
      with:
        # Versions to build (sperate multiple with ',')
        versions: 1.19.3 # optional, default is latest
        # Should sources be generated?
        generateSrc: false # optional, default is false
        # Should the documentation be generated?
        generateDoc: false # optional, default is false
        # Should we disable the BuildTools's Java-Version-Check
        disableJavaCheck: false # optional, default is false
        # Disables the check for existing files in the local maven repository
        forceRun: false # optional, default is false
        # The amount of builds allowed to run at a time, set to '-1' to use system's cpu count
        threads: -1 # optional, default is -1
        # Whose BuildTool should be used? (SpraxDev [default], SpigotMC)
        buildToolProvider: SpigotMC # optional, default is SpraxDev
    - name: Build with Maven
      run: mvn -B package --file pom.xml